Problem1/bin/Debug/netcoreapp2.0/Problem1.deps.json
Problem1/bin/Debug/netcoreapp2.0/Problem1.dll
Problem1/bin/Debug/netcoreapp2.0/Problem1.pdb
Problem1/bin/Debug/netcoreapp2.0/Problem1.runtimeconfig.dev.json
Problem1/bin/Debug/netcoreapp2.0/Problem1.runtimeconfig.json
Problem1/obj/Problem1.csproj.nuget.cache
Problem1/obj/Problem1.csproj.nuget.g.props
Problem1/obj/Problem1.csproj.nuget.g.targets
Problem1/obj/project.assets.json
Problem1/obj/Debug/netcoreapp2.0/Problem1.AssemblyInfo.cs
Problem1/obj/Debug/netcoreapp2.0/Problem1.AssemblyInfoInputs.cache
Problem1/obj/Debug/netcoreapp2.0/Problem1.csproj.CoreCompileInputs.cache
Problem1/obj/Debug/netcoreapp2.0/Problem1.csproj.FileListAbsolute.txt
Problem1/obj/Debug/netcoreapp2.0/Problem1.dll
Problem1/obj/Debug/netcoreapp2.0/Problem1.pdb
Problem2/obj/Problem2.csproj.nuget.cache
Problem2/obj/Problem2.csproj.nuget.g.props
Problem2/obj/Problem2.csproj.nuget.g.targets
Problem2/obj/project.assets.json
Problem2/bin/Debug/netcoreapp2.0/Problem2.deps.json
Problem2/bin/Debug/netcoreapp2.0/Problem2.dll
Problem2/bin/Debug/netcoreapp2.0/Problem2.pdb
Problem2/bin/Debug/netcoreapp2.0/Problem2.runtimeconfig.dev.json
Problem2/bin/Debug/netcoreapp2.0/Problem2.runtimeconfig.json
Problem2/obj/Debug/netcoreapp2.0/Problem2.AssemblyInfo.cs
Problem2/obj/Debug/netcoreapp2.0/Problem2.AssemblyInfoInputs.cache
Problem2/obj/Debug/netcoreapp2.0/Problem2.csproj.CoreCompileInputs.cache
Problem2/obj/Debug/netcoreapp2.0/Problem2.csproj.FileListAbsolute.txt
Problem2/obj/Debug/netcoreapp2.0/Problem2.dll
Problem2/obj/Debug/netcoreapp2.0/Problem2.pdb
